/* Alert and confirm dialogues */

.pc-dialogue {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 100px;
  font-size: 22px;
}

.pc-dialogue .pc-modal-content {
  width: 70%;
  max-width: 25em;
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  animation: animatezoom 0.6s;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.pc-dialogue h2 {
  font-size: 1.3em;
  text-align: left;
  font-weight: normal;
  padding-top: 16px;
  margin-bottom: 16px;
  width: calc(100% - 55px);
}

.pc-dialogue .header {
  background-color: var(--grey400);
  display: flex;
  box-sizing: border-box;
  color: var(--black);
  padding: 16px;
  text-decoration: none;
}

.pc-dialogue .header-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  padding: 0 16px 0 0;
  vertical-align: bottom;
  white-space: nowrap;
  overflow: hidden;
}

.pc-dialogue .header-text {
  white-space: wrap;
  overflow: hidden;
}

.pc-dialogue .dialogue-close {
  display: flex;
  width: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pc-dialogue .dialogue-close-outer-btn, .pc-dialogue .dialogue-cancel-outer-btn {
  display: inline-block;
}

.pc-dialogue .dialogue-close-btn {
  display: flex;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  padding: 4px;
  border-radius: 3px;
  transition: opacity 0s;
  user-select: none;
}
.pc-dialogue .dialogue-close-img {
  width: 8px;
  height: 8px;
}

.pc-dialogue .dialogue-close-btn:active {
  opacity: 0.5;
}

.pc-dialogue .dialogue-close-btn:hover {
  background-color: var(--grey700);
}

.pc-dialogue .dialogue-close-btn:hover .dialogue-close-img {
  filter: brightness(0) invert(1);
}

.pc-dialogue .pc-container {
  padding: 0.01em 16px;
}

.pc-dialogue .pc-padding-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pc-dialogue .pc-padding-bottom-16 {
  padding-bottom: 16px;
}

.pc-dialogue .pc-action-button {
  user-select: none;
  display: inline-block;
  outline: 0;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: var(--grey200);
  background-color: inherit;
  text-align: center;
  white-space: nowrap;
  cursor: default;
  border: 1px solid var(--grey300);
  padding: 4px 8px;
  border-radius: 3px;
  transition: opacity 0s;
}

.pc-dialogue .pc-action-button:active {
  opacity:0.5;
}

.pc-dialogue .pc-action-button:hover {
  border-color: var(--grey700);
  color: var(--white);
  background-color: var(--grey700);
}
